body {
  background: #161616 url(pattern_40.gif) top left repeat;
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}


/* nav bar sytles*/
.navbar {
  margin: 0;
}

.navbar-default{
    background:transparent;
}

.navbar-header .navbar-brand {
  color: white;
  font-size: 30px;
}


.navbar-header .navbar-brand:hover{
    color: #996699;
} 


.navbar-default .navbar-nav>li>a {
  color: white;
  font-size: 20px;
}


.navbar-default .navbar-nav>li>a:hover{
    font-size: 30px;
    color: #996699;
} 

/*End nav bar style*/

#banner {
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    background-image: url(../img/sanFranSkyline.jpg);
    background-position: center;
    background-size: cover;
    cursor: default;
    min-height: 100vh;
    color:  white;
    /* Gray Filter */
    -webkit-filter: grayscale(.6); /* Google Chrome, Safari 6+ & Opera 15+ */
	  filter: grayscale(.6);  /* Microsoft Edge and Firefox 35+ */
}

#inner {
  text-align: center;
  font-weight: 500;
	border: 2.5px solid white;
	text-decoration: none;
  background-color: rgba(10, 10, 10, 0.65);
  margin: .5% 0;
  -vendor-animation-duration: 500s;  
}

#inner h1 {
	font-size: 72px;
}

#inner h2 {
	font-size: 50px;
}

.section {
  margin: 3% 0 3% 0;
}

.section#aboutMe {
  margin-top: 6%;
}


/*about me section*/


#aboutMe {
  margin-top: 2.5%;
}


#aboutText {
  margin-top: 12%;
}

/* skills section */



.content{
  width:350px;
  margin:0;
  position:relative;
  float:left;
  font-size:12px;
  line-height:2em;
  padding:30px 0 30px;
}

#skill { 
  list-style:none; 
  padding-top:30px;
}

#skill li { 
  margin-bottom:70px; 
  background:#000; 
  height:5px; 
  border-radius:3px; 
  border-left:1px solid #111; 
  border-top:1px solid #111; 
  border-right:1px solid #333; 
  border-bottom:1px solid #333;  
  font-size: 20px;
}

#skill li em { 
  position:relative; 
  top:-30px;
}

.expand { 
  height:5px; 
  margin:2px 0; 
  background:#2187e7; 
  position:absolute;
  box-shadow:0px 0px 10px 1px rgba(0,198,255,0.4);
}

.html5       { width:80%;  -moz-animation:html5 10s ease-out;       -webkit-animation:html5 10s ease-out;       }
.css3        { width:70%;  -moz-animation:css3 10s ease-out;        -webkit-animation:css3 10s ease-out;        }
.git         { width:70%;  -moz-animation:git 10s ease-out;      -webkit-animation:git 10s ease-out;      }
.boot3       { width:65%;  -moz-animation:boot3 10s ease-out;      -webkit-animation:boot3 10s ease-out;      }
.ecma5       { width:50%;  -moz-animation:ecma5 10s ease-out;      -webkit-animation:ecma5 10s ease-out;      }
.jquery      { width:35%;  -moz-animation:jquery 10s ease-out;      -webkit-animation:jquery 10s ease-out;      }
.ajax        { width:30%;  -moz-animation:ajax 10s ease-out;   -webkit-animation:ajax 10s ease-out;   }
.firebase    { width:20%; -moz-animation:firebase 10s ease-out; -webkit-animation:firebase 10s ease-out; }

@-moz-keyframes html5       { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes git         { 0%  { width:0px;} 100%{ width:70%;}  }
@-moz-keyframes boot3       { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes ecma5       { 0%  { width:0px;} 100%{ width:50%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:35%;}  }
@-moz-keyframes ajax        { 0%  { width:0px;} 100%{ width:30%;}  }
@-moz-keyframes firebase    { 0%  { width:0px;} 100%{ width:20%;} }

@-webkit-keyframes html5       { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes css3        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes git         { 0%  { width:0px;} 100%{ width:70%;}  }
@-webkit-keyframes boot3       { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes ecma5       { 0%  { width:0px;} 100%{ width:50%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:35%;}  }
@-webkit-keyframes ajax        { 0%  { width:0px;} 100%{ width:30%;}  }
@-webkit-keyframes firebase    { 0%  { width:0px;} 100%{ width:20%;} }


